@namespace Outputs.Documents.Templates.DOCE
@attribute [DocumentTemplate(isDefault: true, Key = "doce-courtesy-letter", Name = "Courtesy Letter", Group = "DOCE", HeaderTemplate = typeof(HeaderComponent), FooterTemplate = typeof(FooterComponent), HeaderPropertyName = nameof(DC001CourtesyLetter.Header), FooterPropertyName = nameof(DC001CourtesyLetter.Footer))]
@using System.Globalization
@using Microsoft.Extensions.Options
@inject IOptions<StaticFilePaths> StaticFiles

<LetterLayout Address="Model.Address">

    <div class="agent-info">
        <div><strong>Assunto: </strong></div>
        <div class="margin-1">
            <strong class="tight-strong"><div class="highlight">Envio de documentação</div> </strong>
        </div>
    </div>

    <div class="date-location">
        <span class="highlight">Lisboa, @(Model.Date.Day) de @Model.Date.ToString("MMMM", new CultureInfo("pt-PT")) de @(Model.Date.Year)</span>
    </div>

    <div class="body-text">
        <p class="greeting">Estimado(s) Senhor(ies),</p>

        <p class="message-title"><strong>Enviamos documentação relativa à sua conta</strong></p>

        <p class="message-title">
            <strong class="tight-strong">Contacte-nos se precisar de algum esclarecimento</strong><br />
         Estamos ao seu dispor para o ajudar e esclarecer.</p>

        <p class="pb-1">Com os nossos cumprimentos,</p>
        <img src="@image" alt="Assinatura" class="assinatura" />
        <p class="pm-0">Sandra Faro</p>
        <p class="pm-0 pb-3">Centro de Formação e Envolvimento Comercial</p>
    </div>

    <DocumentTraceIdComponent TraceText="@Model.TraceText" />
    <TestOverlayComponent></TestOverlayComponent>
</LetterLayout>

@code {
    [Parameter] 
    public DC001CourtesyLetter Model { get; set; } = default!;

    private string? image;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        var wwwrootPath = StaticFiles.Value.Path;
        var fullLogoPath = Path.Combine(wwwrootPath, "assinaturas", "X970384_Sandra_Faro_4web8.png");

        if (File.Exists(fullLogoPath))
        {
            var logoBytes = File.ReadAllBytes(fullLogoPath);
            var logoBase64 = Convert.ToBase64String(logoBytes);
            image = $"data:image/png;base64,{logoBase64}";
        }

    }
}


<style>
    .margin-1 {
        margin-left: .2rem;
    }

    .pm-0 {
        margin: 0px;
        padding: 0px;
    }

    .pb-3 {
        padding-bottom: 1rem;
    }

    .agent-info {
        display: flex;
        align-items:flex-start;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .date-location {
        padding-left: 8.4cm;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

    .assinatura{
          width: 180px;       
          height: auto;       
          max-width: 100%;  
          display: block;
        }


</style>
